.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {

    color: white;
    padding: 5px;
    text-decoration: none;
}
/* pseudo class */
.main-nav__item a:hover {
    color: blue;
}
/* pseudo class */
.main-nav__item a:active {
    color: red;
}
/* pseudo element */
.main-nav__item a::after {
    content: "  |   ";
}