* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    padding: 20px;
    border: 1px black solid;
    border-radius: 2rem;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    background-color: dodgerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: relative;
    top: 20px;
}

.patrick {
    width: 100px;
    margin: 10px 0;
}

.content {
    padding: 50px;
    border: 1px black solid;
    background-color: antiquewhite;
    width: 500px;
    border-radius: 2rem;
    margin: 0 auto;
    text-align: center;
}