* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    /* 16 pixeles */
}

.container {
    /* 3 pixeles */
    border: 0.3rem solid black;
    
    /* The container has the display felx to affect all he children*/
    display: flex;
    
    /*Direction of the order can be changed to row, row-reverse, column, column-reverse*/
    /*flex-direction: column-reverse;*/

    /* Each container will be changed to the next line if the screen is shorter 
    The container decide where we will watch the content.
    Other opotio is wrap-reverse
    flex-wrap: wrap;*/
    
    /*The easy way to center things: 
    justify-content
    These are the vales: start, center, end, 
    Also we can asign space between the elements
    space-between: Only space between the elements.
    space-around: Same space between the elements and the corners
    space-evenly: Same space between the elements and the corners, each sapce equal

    justify-content: space-evenly;
    */

    height: 50vh;
    /*Vertical Aligment
    options: 
        flex-start
        flex-end
        center
        stretch
        baseline*/
    align-items: stretch;
}

.box {
    width: 10rem;
    
}

.box1 {
    background-color: darkgrey;
    order:1
}

.box2 {
    background-color: brown;
    order: 6;
}

.box3 {
    background-color: antiquewhite;
    order:4;
}

.box4 {
    background-color: cornflowerblue;
}

.box5 {
    background-color: darkolivegreen;
}

.box6 {
    background-color: darkorange;
}